<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>

  <div class="container">
    <h2><%= title %></h2>
    <form action="./create" method="post">
      <div class="form-group">
        <label for="name">Title Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Title Name" name="title" required>
      </div>
      <div class="form-group">
        <label for="au">Author:</label>
        <input type="text" class="form-control" id="au" placeholder="Enter Author Name" name="author" required>
      </div>
      <div class="form-group">
        <label for="chap">Chapter:</label>
        <input type="text" class="form-control" id="chap" placeholder="Enter Chapter" name="chapter" required>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>

</body>

</html>